@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <form accept-charset="UTF-8" role="form" method="post">
                    <div>
                        @Html.ValidationSummary()
                        @Html.AntiForgeryToken()
                    </div>
                    <fieldset>
                        <div>
                            Are you sure you want to close your account?
                        </div>
                        <button value="yes" class="btn btn-lg btn-danger btn-block">Yes, Close Account</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
