@model CIC.IdentityManager.Web.Areas.UserAccount.Models.SendUsernameReminderInputModel
@{
    ViewBag.Title = "Send Username Reminder";
}

<h2>Send Username Reminder</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary("Errors")

    @Html.AntiForgeryToken()
    
    <fieldset>
        <legend>Send Username Reminder</legend>

        @Html.EditorForModel()

        <div >
            <button class="btn btn-default">Send Reminder</button>
        </div>
    </fieldset>
}
